*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Project exclude paths
/ChartBar/build/
/ChartBar2/build/
/ChartBar3/build/
/ChartBar4/build/
/ChartBar5/build/
/ChartBar6/build/
/CustomChartFragment/build/